#indexRightNav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 37px;
    background: #444444;
    z-index: 999;
}

.opacity-tubiaozhizuo,
.hover-erweima2,
.opacity-bqxin,
.opacity-wode {
    pointer-events: none;
}

.icon-tubiaozhizuo-,
.icon-icon-pencil,
.icon-erweima,
.icon-bqxin,
.icon-wodedangxuan,
.icon-5gouwudai2 {
    color: #b8b8b8;
    display: block;
}

.wodedangxuan {
    width: 100%;
    height: 30px;
    margin: 128px 0 0;
    text-align: center;
    line-height: 30px;
    position: relative;
}

.opacity-tubiaozhizuo,
.opacity-wode,
.opacity-bqxin {
    position: absolute;
    background: 0ch;
    left: -130px;
    top: 0px;
    height: 30px;
    width: 100px;
    background: #fff;
    box-shadow: 0px 0px 5px #888888;
    transition: transform 0.5s;
    opacity: 0;
}

.wodedangxuan:hover .opacity-wode {
    transform: translateX(30px);
    opacity: 1;
}

.bqxin:hover .opacity-bqxin {
    transform: translateX(30px);
    opacity: 1;
}

.tubiaozhizuo:hover .opacity-tubiaozhizuo {
    transform: translateX(30px);
    opacity: 1;
}

.banner_2 {
    display: flex;
}

.banner_2 img {
    width: 50%;
    height: 100%;
    margin: 10px;
}

.bqxin,
.tubiaozhizuo {
    position: relative;
}

.wodedangxuan:hover {
    background: #ff464e;
}

.icon-5gouwudai2 {
    margin: 10px;
}

.bqxin,
.erweima {
    width: 100%;
    height: 30px;
    margin: 24px 0 0;
    text-align: center;
    line-height: 30px;
}

.bqxin:hover {
    background: #ff464e;
}


/* 二维码划过效果 */

.erweima:hover {
    background: #ff464e;
}

.erweima:hover .hover-erweima2 {
    transform: translateX(30px);
    opacity: 1;
}

.erweima {
    position: relative;
}

.hover-erweima2 {
    position: absolute;
    left: -130px;
    top: -40px;
    opacity: 0;
    /* display: none; */
    transition: transform 0.5s;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px #888888;
}

.hover-erweima2 img {
    width: 80px;
}

.hover-erweima2 p {
    font-size: 12px;
    color: #666;
}

.ziShiYing,
.tubiaozhizuo {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.icon-pencil {
    margin-bottom: 10px;
}

.ziShiYing {
    position: absolute;
    bottom: 80px;
}

.icon-pencil:hover {
    background: #ff464e;
}

.tubiaozhizuo:hover {
    background: #ff464e;
}

.rightBorder2 {
    height: 138px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
}

.rightBorder {
    margin-top: 24px;
    height: 140px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.right-gouWuDai {
    width: 16px;
    color: #b8b8b8;
    margin: 0 10px;
    font-size: 16px;
}

.right-count {
    width: 20px;
    height: 20px;
    background: #ff464e;
    text-align: center;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    margin: 8px 8px 0;
}

.rightBorder:hover {
    background: #ff464e;
    cursor: pointer;
}


/* =以上是主页右边条=============================== */

.index_logo-waitao {
    width: 100%;
    background: #000;
    /* position: fixed; */
    z-index: 999;
}

.index_logo {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
}

#index_nav {
    display: flex;
}

#index_nav li {
    margin-top: 40px;
    width: 70px;
    height: 30px;
    /* background: blue; */
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

#ppp {
    margin-left: 20px;
    margin-top: 44px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

#index_nav li:hover {
    transition: 600ms cubic-bezier(0.165, 0.54, 0.44, 1);
    color: #000;
    background: rgba(148, 137, 138, 0.7);
    cursor: pointer;
}

.liStyle {
    color: black !important;
    background: #fff;
}

.m_logo {
    width: 120px;
    height: 85px;
    margin-right: 30px;
}

.kong {
    flex: 1;
}

.input_logo {
    margin-top: 42px;
    display: flex;
}

.input_logo input {
    width: 225px;
    height: 35px;
    background: #fff;
    border: 0;
    text-indent: 10px;
    /* border-radius: 3px  0px 0px 3px; */
}

.icon-fangdajing {
    color: #000;
    font-weight: 900;
    font-size: 18px;
}

.dangDaJing {
    width: 35px;
    height: 35px;
    background: #fff;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.ul_list {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.ul_list a {
    font-size: 12px;
    padding: 13px 24px 10px;
    margin-left: 20px;
    border-radius: 5px 5px 0 0;
}

.li_xuanZhong {
    background: orangered;
    color: #fff;
}


/* banner处内容========================= */

#index_banner {
    width: 1200px;
    height: 383px;
    margin: 0 auto;
    /* background: #fff; */
    display: flex;
}


/* <!-- banner轮播图 --> */

.banner_slideshow {
    width: 100%;
    height: 550px;
    overflow: hidden;
}


/* <!-- banner_右侧广告 --> */

.banner_tuiGang {
    width: 255px;
    height: 361px;
    background: #fff;
    margin: 20px 0 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner_tuiGang img {
    width: 100%;
}


/* <!-- 今日新品================== --> */

.index_conter {
    width: 1200px;
    background: #fff;
    min-height: 500px;
    margin: 0 auto;
}

.xinPin {
    height: 66px;
    line-height: 66px;
    padding-left: 20px;
    cursor: default;
}

.index_perducts {
    height: 304px;
    width: 220px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    transition: all 250ms ease;
    /* border: 1px solid black; */
    margin: 10px;
    cursor: pointer;
}

.index_perducts:hover {
    z-index: 20;
    box-shadow: 0 20px 55px rgba(0, 0, 0, 0.3), 0 17px 17px rgba(0, 0, 0, 0.15), 0 0 0 1px transparent;
}

.index_perducts img {
    height: 220px;
    width: 220px;
}

.perduct_price {
    color: black;
    line-height: 37px;
    font-size: 14px;
    margin-left: 7px;
    text-align: center;
    font-weight: 800;
}

.perduct_name {
    margin-left: 7px;
    font-size: 12px;
    color: #333;
    text-align: center;
}

.Perducts {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}