body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; } 
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
body{ font-family:"微软雅黑";font-size:12px;}
input,a{outline:none;}

.Winmsd{
    overflow: hidden;
    border: 1px solid #333;
}
.winmsd_h{
    line-height: 44px;
    font-size: 14px;
    color: #333;
    padding-left: 34px;
    font-weight: bold;
    border-bottom: 1px solid #333;
}
.winmsd_count{
    overflow: hidden;
}
.winmsd_count span{
    font-size: 12px;
    color: #808080;
    line-height: 222px;
    margin-left: 406px;
}