.Part-middle {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

.Part-middle-head div {
    float: left;
    margin-left: 5px;
    font-size: 16px;
    line-height: 50px;
}

.Part-middle-xq-left1 {
    float: left;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
}

.Part-middle-xq-left1 img {
    width: 60px;
    border: 1px solid #b5b5b5;
}

#fangdajing-da-box {
    width: 362px;
    height: 362px;
    border: 1px solid #b5b5b5;
}

.Part-middle-xq-left2 {
    width: 400px;
    height: 400px;
    border: 1px solid #b5b5b5;
    float: left;
    margin-left: 40px;
}

#fangdajing-da-box {
    width: 100%;
    height: 100%;
}

.Part-middle-xq-right {
    width: 450px;
    float: left;
    margin-left: 40px;
}

.Part-middle-xq-right-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Part-middle-xq-right-price {
    margin-top: 20px;
}

.Part-middle-xq-right-price1 {
    float: left;
    font-size: 26px;
    color: red;
}

.Part-middle-xq-right-price2 {
    float: left;
    font-size: 26px;
    color: red;
}

.Part-middle-xq-right-price3 {
    margin-left: 20px;
    margin-top: 8px;
    float: left;
    font-size: 18px;
    color: silver;
}

.Part-middle-xq-right-price4 {
    margin-top: 8px;
    float: left;
    font-size: 18px;
    color: silver;
}

.Part-middle-xq-right-size {
    margin-top: 20px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}


/* .Part-middle-xq-right-size div {
    float: left;
} */

.Part-middle-xq-right-size1 {
    font-size: 20px;
}

.Part-middle-xq-right-size2 {
    width: 64px;
    height: 32px;
    border: 1px solid #000;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.active-size {
    background: black;
    color: white;
}

.Part-middle-xq-right-num {
    margin-top: 20px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}


/* .Part-middle-xq-right-num div {
    float: left;
} */

.Part-middle-xq-right-num1 {
    font-size: 20px;
}

.Part-middle-xq-right-num2 {
    width: 40px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    border: 1px solid #000;
    cursor: pointer;
}

.Part-middle-xq-right-kucun {
    margin-top: 20px;
    width: 350px;
}

.Part-middle-xq-right-kucun1 {
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    margin-right: 20px;
}

.Part-bottom {
    width: 1200px;
    margin: 40px auto 0;
}

.Part-bottom1 {
    font-size: 30px;
    text-align: center;
}

.Part-bottom img {
    width: 900px;
    margin: 50px auto 0;
}

.Part-middle-xq-right-puy {
    width: 154px;
    height: 38px;
    border: 1px solid #ff464e;
    background: #fff0f0;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}


/*btn_background*/

.effect01 {
    color: #FFF;
    border: 4px solid #000;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect01:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}


/*btn_text*/

.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
}


/*highlight*/

.effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2em 0em;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 0px;
    width: 240px;
}

.Part-middle-xq-right-btn {
    display: flex;
    justify-content: center;
}

.Part-middle-xq-right-collect {
    display: flex;
    justify-content: center;
}
