html{overflow-x: hidden;}
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table
,fieldset,legend,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; } 
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
em,i,address{font-style: normal;}
body{ font-family:"微软雅黑";font-size:12px;}
input,a{outline:none;}


.fl{float: left;}
.fr{float: right;}

.clean:after{content: '.';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}