.register {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    z-index: 9999999;
}

h2 {
    margin: 10px auto;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#Box,
#Box1 {
    width: 1000px;
    height: 300px;
    border: solid 1px gainsboro;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .12);
    position: relative;
}

#reg {
    font: 800;
    font-size: 16px;
    width: 200px;
    height: 45px;
    position: absolute;
    left: 39%;
    top: 105%;
    background: white;
    margin: 100 auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .12);
    transform: scale(1);
    transition: box-shadow 0.6s, transform 0.5s;
}

#reg:hover {
    background: white;
    box-shadow: 0px 0px 20px 15px rgba(121, 118, 118, 0.9);
    transition: box-shadow 0.6s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -ms-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
}

#Box3 {
    width: 1000px;
    height: 300px;
    border: solid 1px gainsboro;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .12);
}